<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"> 
	<context:component-scan base-package="com.penghai.testoficp.*" > 
	</context:component-scan>	
	
	<!-- 默认的注解映射的支持 -->
 	<mvc:annotation-driven>
		<mvc:async-support default-timeout="30000">
		</mvc:async-support>
	</mvc:annotation-driven>
	
	<bean id="propertiesConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer ">
		<property name="locations">
			<array>
				<value>classpath:configs/jdbc.properties</value>
	            <value>classpath:configs/redis.properties</value>	            
	    	</array>
	    </property>
	</bean>
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<import resource="spring-redis.xml"/>
	<import resource="spring-dao.xml"/>
</beans>